/*#region Custom properties */
:root{
	/* -----text-color----- */
	--primary-color: #212121;
	--secondary-color: #757575;
	--btn-text-color: #ffffff;
	--accent-color: #2196f3;
	/* -----background-color----- */
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--section-bg-color: #f5f4fa;
	--primary-btn-bg: #f5f4fa;
	--secondary-btn-bg: #2196f3;
		/* -----border color----- */
	--border-color: #eeeeee;
}
/*#endregion */

/*#region Reset/Base */
body{
	color: var(--primary-color);
	background-color: var(--primary-bg-color);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/*#endregion */

/*#region Header */
.header{
	background-color: var(--primary-bg-color);
}
.logo{
	color: var(--accent-color);
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-decoration: none;
}
.logo-black{
	color: #000000;
}
.list{
	list-style-type: none;
}
.navigation-link{
	color: var(--primary-color);
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.current{
	color: var(--accent-color);
}
.contact-link{
	color: var(--secondary-color);
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.contact-link:focus,
.contact-link:hover{
	color: var(--accent-color);
}
/*#endregion */

/*#region Footer */
.footer{
	background-color: var(--secondary-bg-color);
}
.logo-white{
	color: var(--btn-text-color);
}
.address-link{
	color: var(--btn-text-color);
font-style: normal;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
}
.opacity{
	opacity: 0.6;
}

/*#endregion */

/*#region Hero */

/*#endregion */

/*#region Quality */

/*#endregion */

/*#region Work */

/*#endregion */

/*#region Team */

/*#endregion */

